* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../img/main-bg.jpg) no-repeat center top / cover;
    font-family: 'museo_sans_rounded100';
}

.container {
    width: 685px;
    margin: 0 auto;
    margin-top: 110px;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 57px;
    background-color: #111a28; 
    border-radius: 3%;
}

.main {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 17px;
    padding-bottom: 75px;
    position: relative;
}

.main__nike {
    height: 160px;
    width: 330px;
}

.main__nike img {
    width: 100%;
    height: 100%;
   }

.main__content {
width: 186px;
}

.main__title {
    color: white;
    font-size: 24px;
    margin-bottom: 16px;
}

.main__p {
    color: #505660;
    font-size: 14px;
}

.main__vector {
    margin: 27px 0;
}

.card select {
    background-color: transparent;
    color: #505660;
}

.btn {
    background-color: #202835;
    color: #80848b;
    width: 100%;
    font-size: 14px;
    padding: 13px 0;
    margin-top: 30px;
    border: 1px solid #4f5560;
}

.btn__black {
    position: absolute;
    top: 270px;
    left: 150px;
    background-color: #1f273f;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
}
.btn__white {
    position: absolute;
    top: 270px;
    left: 170px;
    background-color: #ffffff;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
}
.btn__red {
    position: absolute;
    top: 270px;
    left: 190px;
    background-color: #ed3333;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
}
.btn__blue {
    position: absolute;
    top: 270px;
    left: 210px;
    background-color: #29e3ea;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
}
.main > button {
    box-sizing: initial;
}
.main > button:focus {
    border: 2px solid #7e838b;
}

/* ------- */
.white {
    position: absolute;
    display: none;
}
.red {
    position: absolute;
    display: none;
}

.blue {
    position: absolute;
    display: none;
}

.btn__white:focus ~ .white {
display: block;
}
.btn__red:focus ~ .red {
    display: block;
    }
    .btn__blue:focus ~ .blue {
        display: block;
        }
        
        @media (max-width: 685px) {
            .container {
                width: 100%;
            }
            .main {
                justify-content: center;
            }
        }